body{
    margin: 0;
    padding:0;
    background-color:#f0f3f8
}

img{
    border:1px solid #646464;
    box-shadow:1px 5px 10px #646464;
    
}
h1{
    text-transform:uppercase;
    font-weight:400;
    border-bottom:2px solid rgb(103, 115, 128,0.5);
    width:40%;
    padding-bottom:1.3rem;
    margin:1% 2%;
    
}
.imgs{
    display: flex;
    flex-direction:row;
    justify-content:center;
    width: 100%;
}