body{
    margin: 0;
    padding:0;
    background-color:#f0f3f8
}

img{
    width:30%;
    margin:calc(10%/6.3);
    position:relative;
    top:0;
    border:1px solid #646464;
    box-shadow:1px 5px 10px #646464;
    
}
h1{
    text-transform:uppercase;
    font-weight:400;
    border-bottom:2px solid rgb(103, 115, 128,0.5);
    width:40%;
    padding-bottom:1.3rem;
    margin:1% 2%;
    
}